body {font-family: Palatino; margin: 50px 200px;}
h1, h2 {font-family: Century Gothic; color: #3C5084;}
h3 {font-family: Century Gothic; color: #6076B4}
code {font-family: Inconsolata;}
p {text-align:justify;}
.hidden {display: none;}
.newpage {page-break-before:always;}
pre {padding: 10px; margin-left: 100px; margin-right: 100px; background: #EEEEEE;}
