html {
	width: 100%;
}
body {
	font-family: Consolas, Monospace;
	margin: 10% 50% 20% 10%;
	background-image: url("nodes.jpg");
	background-repeat: repeat-y;
	background-position: right top;
	background-size: 45%;
	font-size: large;
}
p {text-align:justify;}
pre {padding: 1em;}

a:link {color: rgb(254,138,0);}
a:active {color: rgb(252,62,4);}
a:visited {color: #000000; font-weight: bold;}
a:hover {color: rgb(253,101,0);}

.figures {
	text-align: center;
}

#intro {
}
#main {
	padding-top: 2em;
	padding-bottom: 2em;
}
#heads {
	position: fixed;
	bottom: -10px;
	right: 0;
	width: 45%;
}
#heads img { width: 100%; }
#bios {
}
#copyright {
	clear: both;
	font-size: small;
	padding-top: 10em;
}
